{% extends './layaout2.html' %}

{% block title %} Usuarios{# afuera de esta etiqueta Nombre de la pagina #}{% endblock %} 

{% block pagina %}
<header class="text-center pt-3"  > <h1>Usuarios</h1></header> 

<div class="bm-3 pt-3">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand">Navbar</a>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
    </nav>
    <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Usuario</th>
            <th scope="col">Password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <th>1</th>
            <td>asdhkajs</td>
          </tr>
          <tr>
            <td >634941812312</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td >634941812312</td>
            <td>makjsd1das2</td>
          </tr>
          <tr>
            <th scope="row">1098712311</th>
            <td >Larry the Bird</td>
            <td>ortiz</td>
            <td>@twitter</td>
            <th >1098712311</th>
            <td>lkajsdlkajl123lkj</td>
          </tr>
        </tbody>
     </table>
</div>
<div class="d-grid gap-2 d-md-block bm-3 pt-4">
    <div class="container-fluid espacio">
        
        <button class="btn btn-success boton" type="button" data-bs-toggle="modal" data-bs-target="#modalnew">Nuevo</button>
        <button class="btn btn-warning boton" type="button">Editar</button>
        <button class="btn btn-danger boton" type="button">Eliminar</button>
        
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="modalnew" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          
          <div class="col-md-6">
            <label for="inputName" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nombre" required>
          </div>
          <div class="col-md-6">
            <label for="inputApellido" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="inputApellido" placeholder="Apellidos" required>
          </div>
          <div class="col-md-6">
            <label for="inputCed" class="form-label">Cedula</label>
            <input type="number" class="form-control" id="inputCed" placeholder="Numero de documento" onblur="Pasarvalores();" required>
          </div>
          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="example@hotmail.com" required>
          </div>
          <div class="col-md-6">
            <label for="inputUser" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="inputUser" >
          </div>
          <div class="col-md-6">
            <label for="inputpasword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputpassword" >
          </div>
          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Direccion de recidencia">
          </div>
          <div class="col-md-6">
            <label for="inputdate" class="form-label">Nacimiento</label>
            <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">  <input class="form-control" size="16" type="text" placeholder="12-02-2012">  <span class="add-on"><i class="icon-th"></i></span></div>
          </div>
          <div class="col-md-6">
            <label for="inputState" class="form-label">Rol</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option value="1">Estudiante</option>
              <option value="2">Docente</option>
              <option value="3">Administrador</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="inputCel" class="form-label">Celular</label>
            <input type="number" class="form-control" id="inputCel" placeholder="example  3142856298">
          </div>
                 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger boton" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success boton">Guardar</button>
      </div>
    </div>
  </div>
</div>




</div>

{% endblock %}

{% block Script %}
<script>
  function Pasarvalores(){
    document.getElementById("inputUser").value=document.getElementById("inputCed").value;
    document.getElementById("inputpassword").value=document.getElementById("inputCed").value;
    }
</script>
{% endblock %}




