{% extends './layaout2.html' %}

{% block title %} Usuarios{# afuera de esta etiqueta Nombre de la pagina #}{% endblock %} 

{% block pagina %}
<header class="text-center pt-3"  > <h1>Usuarios</h1></header> 

<div class="bm-3 pt-3">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand">Navbar</a>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
    </nav>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>asdhkajs</td>
          </tr>
          <tr>
            <td >634941812312</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>makjsd1das2</td>
          </tr>
          <tr>
            <th scope="row">1098712311</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>lkajsdlkajl123lkj</td>
          </tr>
        </tbody>
     </table>
</div>
<div class="d-grid gap-2 d-md-block bm-3 pt-4">
    <div class="container-fluid espacio">
        
        <button class="btn btn-success boton" type="button">Nuevo</button>
        <button class="btn btn-warning boton" type="button">Editar</button>
        <button class="btn btn-danger boton" type="button">Eliminar</button>
        
    </div>
</div>


{% endblock %}
