{% extends './layout.html' %}

{% block title %} Login {% endblock %}

{% block css %} 

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}"> 

{% endblock %}

{% block body %}
<div class="container">
<div class="row justify-content-center pt-5 mt-5 m-1">
  <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 formulario">
      <form action="">
          <div class="form-group text-center mb-3 pt-3">
            <img src="{{url_for('static',filename='img/marca_UTPblack.png')}}" alt="Escudo Universidad Tecnologica de Pereira" width="170" height="47">
          </div>
          <div class="form-group mx-sm-4 pt-3 mb-3">
              <input type="text" class="form-control" placeholder="Ingrese su Usuario">
          </div>
          <div class="form-group mx-sm-4 pb-3 mb-3">
              <input type="text" class="form-control" placeholder="Ingrese su Contraseña">
          </div>
          
          <div class="form-group mx-sm-4 pb-3">
              <button type="submit" class="btn btn-primary ingresar">Ingresar</button>
          </div>
          <div class="form-group mx-sm-4 text-center">
              <span class=""><a href="#" class="olvide">¿Olvidaste tu contraseña?</a></span>
          </div>
      </form>
  </div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}